#container { 
	padding:1em;
	text-align:center;
}
#form-container, #output-container {
	margin: 30px auto;
}
#output-container { 
	display: none;
}
#copy-btn { 
	float:left;
}
#errors { margin: auto; display:none; }
.invert-svg { filter: invert(100%); }
.clear { clear:both; }

